.icloud-sync-list {
  max-height: 16em;
  overflow-y: auto;
  font-family: var(--font-monospace);
  font-size: var(--font-ui-smaller);
}

.icloud-sync-log {
  max-height: 20em;
  overflow-y: auto;
  font-family: var(--font-monospace);
  font-size: var(--font-ui-smaller);
  white-space: pre-wrap;
}

.icloud-sync-log-warn {
  color: var(--text-warning);
}

.icloud-sync-log-error {
  color: var(--text-error);
}

.icloud-sync-log-debug {
  color: var(--text-faint);
}
